.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
 * main layout
 * main container set to fullscreen 100vh:
 * 1. .main-wrapper elements (webcam, gestures, ME display, etc)
 * 2. tab content expandable to remaining screen size
 *   flex: 0 0 auto (grow/shrink/basis initial size)
 *   flex: 1 1 auto (fill remainder)
 *
 * TODO: mobile padding on tab-content
 */

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tab-content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: .5rem 1rem;
}


/*
 *  layout grid for main-wrapper elements
 */


/* desktop view >= 768
 * 3 columns [~50%, spacing, ~50%], camera and full market when >= desktop
 * 2 rows: auto, and fill row
 *
 * mobile:
 * stacked, collapsed view < 768
 */



.output_canvas {
  background: url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/4YWTZITUPII6VLM3EVHMTGMTXQ.jpg&w=916");
  background-size: cover;
  max-height: 30vh;
}


@media (min-width: 768px) {

  .d-grid.main-wrapper {
    grid-template-columns: calc(50% - 1.5rem * .5) 1.5rem calc(50% - 1.5rem * .5);
    grid-template-rows: auto 1fr;
  }

  .main-wrapper .camera {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .main-wrapper .gestures {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main-wrapper .me {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .output_canvas {
    max-height: 40vh;
  }
}


/* GestureDecision */
table#gestureDecision td {
  font-size: 80px;
  width: 33.33%;
}
table#gestureDecision th {
  background: transparent !important;
  font-size: 1rem;
}

table#gestureDecision {
  border: 0px solid transparent;
}

@keyframes pulsate {
  0%,
  100% {
    color: orange;
  }
  50% {
    color: grey;
  }
}

.is-cancel-gesture {
  color: pink;
}
.is-cancel-order {
  color: red;
}
.is-submitted {
  color: green;
}
.is-locked {
  color: grey;
}
.is-needed {
  color: orange;
  animation: pulsate 1.4s ease-in-out infinite alternate
}

/* Extended Helpers */

.pt-6 {
  padding-top: 4rem;
}

.control-panel {
  position: absolute;
  top: 2rem;
  width: 100px;
  background: black;
  opacity: 0.65;
  color: white;
}
.input_video {
  display: none;
}
