.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* overlay */

.pt-6 {
  padding-top: 4rem;
}

.input_video,
.output_canvas {
  /* required for fps overlay */
  position: absolute;
}

.control-panel {
  position: static;
  width: 100px;
  background: black;
  opacity: 0.65;
  color: white;
}
.input_video {
  /*selfie style*/
  /*transform: scale(-1, 1);*/
  display: none;
}

.output_canvas {
  /*transform: scale(-1, 1);*/
  background: url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/4YWTZITUPII6VLM3EVHMTGMTXQ.jpg&w=916");
  background-size: cover;
}
