.App-header {
  /* min-height: 66vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
 * HOME
 */

#home-background-image {
  position: fixed;
  z-index: -1;
  opacity: .2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home-hero-text {
  font-family: "Overpass", sans-serif;
  font-size: 4rem;
  text-shadow: 14px 10px 14px rgba(0,0,0,0.3);
}
@media (min-width: 768px) {
  #home-hero-text {
    font-size: 8rem;
  }
}

#home-hero-cta {
  font-size: 2rem;
  box-shadow: 14px 10px 14px rgba(0,0,0,0.3);
}
@media (min-width: 768px) {
  #home-hero-cta {
    font-size: 3rem;
  }
}

/* Badge box */
#home-badge {
  padding: 1rem;
  background: #ecae01;
  width: 16rem;
  margin-bottom: 2rem;
}
#home-badge input {
  font-size:2rem;
}

.no-border, .no-border:hover, .no-border:focus, .no-border:focus-visible, .no-border:active {
  border: 0;
  box-shadow: none;
  background: #ecae01;
  outline: none;
}

/*
 * main layout
 * main container set to fullscreen 100vh:
 * 1. .main-wrapper elements (webcam, gestures, ME display, etc)
 * 2. tab content expandable to remaining screen size
 *   flex: 0 0 auto (grow/shrink/basis initial size)
 *   flex: 1 1 auto (fill remainder)
 *
 * TODO: mobile padding on tab-content
 */

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tab-content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: .5rem 1rem;
}


/*
 *  layout grid for main-wrapper elements
 */


/* desktop view >= 768
 * 3 columns [~50%, spacing, ~50%], camera and full market when >= desktop
 * 2 rows: auto, and fill row
 *
 * mobile:
 * stacked, collapsed view < 768
 */



.output_canvas {
  background: url("https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/4YWTZITUPII6VLM3EVHMTGMTXQ.jpg&w=916");
  background-size: cover;
  max-height: 30vh;
}


@media (min-width: 768px) {

  .d-grid.main-wrapper {
    grid-template-columns: calc(50% - 1.5rem * .5) 1.5rem calc(50% - 1.5rem * .5);
    grid-template-rows: auto 1fr;
  }

  .main-wrapper .camera {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .main-wrapper .gestures {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main-wrapper .me {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .output_canvas {
    max-height: 40vh;
  }
}

/* Main Tables */

#main .table > :not(caption) > * > * {
  box-shadow: none;
}
#main .table caption { padding: .25rem; }
#main .table th {
  font-weight: 400;
  color: #8c8c8c;
}
#main .table {
  background-color: #0a0a0a;
  border-color: #2e2e2e;
}

/* Gesture Current */

table#gestureCurrent {
  boxShadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transform: translate3d(0; 0; 0);

  text-align: center;

  width: 66.66%;
  margin: 1rem auto;
  /*fs-3*/
  font-size: 1.75rem;
}
table#gestureCurrent td {
  width: 33.33%;
  text-transform: uppercase;
}
table#gestureCurrent caption {
  font-size: .85rem;
  text-align: center;
}

table#gestureCurrent td:nth-child(1),
table#gestureCurrent td:nth-child(2){
  border-right: 1px solid #0a0a0a;
}

/* GestureDecision */
table#gestureDecision td {
  font-size: 80px;
  width: 33.33%;
  font-size: 2.75rem;
}

table#gestureDecision th {
  background: transparent !important;
  font-size: 1.25rem;
  text-transform: uppercase;
}

table#gestureDecision.table {
  text-transform: uppercase;
  background: transparent;
  border: transparent;
}

@keyframes pulsate {
  0%,
  100% {
    color: orange;
  }
  50% {
    color: grey;
  }
}

.is-cancel-gesture {
  color: salmon;
}
.is-cancel-order {
  color: red;
}
.is-submitted {
  color: green;
}
.is-locked {
  color: grey;
}
.is-needed {
  color: orange;
  animation: pulsate 1.4s ease-in-out infinite alternate
}

.losemodal-score {
  text-align: right;
}
@media (min-width: 768px) {
  .losemodal-score {
    padding-right: 6.25rem;
    text-align: right;
  }
}
.isLive {
  background: #fff3cd;
}

/* Instruction Panel */
.instructions img.fit {
  object-fit: "contain";
  height: 7rem;
}

@media (min-width: 768px) {
  .instructions img.fit {
    height: 10rem;
  }
}

/* Instruction Modal Navbar
 * style overrides when modal parent happens to be
 * .navbar-nav
*/

.instructions .nav-pills .nav-link.active,
.instructions .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
}

.instructions .navbar-nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: #e9ecef;
  --bs-nav-link-disabled-color: #6c757d;
  list-style: none;
}

/* Extended Helpers */

.pt-6 {
  padding-top: 4rem;
}
.px-3-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.vh-75 {
  height: 75vh;
}

.rounded-sm {
  border-radius: .375rem;
}

@media (max-width: 567px) {
  .rounded-sm {
    border-radius: 0px;
  }
}

.control-panel {
  position: absolute;
  top: 2rem;
  width: 100px;
  background: black;
  opacity: 0.65;
  color: white;
}
.input_video {
  display: none;
}

/* InfoPanel */

/* time table column */
.td-time {
  width: 0.1%;
  min-width: 100px;
  white-space: nowrap;
}


/* GestureDecisionEvent InfoPanel Tab */

#gestureDecisionEvent-tab-image {
  max-height: 8rem;
  filter: drop-shadow(4px 4px 8px #666666);
}

@media (min-width: 768px) {
  #gestureDecisionEvent-tab-image {
    max-height: 12rem;
  }
}
