// Override default variables before the import
$enable-negative-margins: true;

/* Theme */

$body-bg: #161616;
$body-color: #dedede;
$font-size-base: .85rem;

/* Table */




//ME

tr.me-isLast > td.me-price {
  background: #333;
  color: #fff;
  font-weight: 700;

}

//deprecated
.me-bid {
  background: #0a1811;
}
.me-offer {
  background: #1f0b0b;
}
.me-price {
  color: #f7f7f7;
}
.me-order {
  color: orange;
}

//Tabs
$nav-tabs-border-color: #505050;
$nav-tabs-link-active-border-color: #505050 #505050 #161616;
$nav-tabs-link-active-color: #8c8c8c;
$nav-link-hover-color: #e9ecef;
$nav-tabs-link-hover-border-color: #505050 #505050 #161616;
#main .tab-content { margin: 0 -1rem; }

//profile view / score
.player-status {
  background: #013a58;
  color: #dedede;
  border: 1px solid #465c67;
}
.player-status-label {

  color: #969696
}
.player-status-value {
  color: #dedede
}



// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
